.page {

  color: black;
  font-family: 'Cabinet Grotesk';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.page__wrapper {
  /* border: 5px solid black; */
  background-color: rgba(243, 243, 243, 1);
  margin: auto;
  max-width: 1440px;
  box-sizing: border-box;
  min-height: 822px;
}

@media screen and (max-width: 648px) {
  .page__content {
      max-width: 282px;
      margin: 28px auto 36px;
      padding: 0;
  }
}
