.confirm-delete-modal__title {
    margin: 0;
    align-self: flex-end;
    justify-self: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
}

.confirm-delete-modal__button {
    margin: 0;
    background-color: white;
    border: none;
    align-self: flex-end;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
}

.confirm-delete-modal__button:hover {
    color: rgba(255, 77, 0, 1);
}