.register__input-fieldset {
    border: none;
    padding: 0;
    margin: auto;
    width: 100%;
}

.register__field-label {
    font-size: 16px;
    line-height: 1.25;
    margin: 0 0 8px 0;
}

.register__input {
    font-family: 'Cabinet Grotesk';
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 27px;
    border: none;
    border-bottom: rgba(0, 0, 0, 1) 1px solid;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0em;
    margin-bottom: 24px;
}


.register__input-field {
    position: relative;
}

.register__error-message {
    position: absolute;
    color: red;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    top: 52px;
    left: 0;
}


